.shape {
    height: 0;
    width: 0;
    border-bottom: 30px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.time {
    text-align: center;
    color: black;
    font-size: 20px;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
}

.buttonsContainer button {
    margin: 20px;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    color: black;
}

.start {
    background-color: green;
}

.stop {
    background-color: red;
}