.shape {
    height: 0;
    width: 0;
    border-bottom: 30px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.time {
    text-align: center;
    color: black;
    font-size: 20px;
}

.results {
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: .25rem;
}

.timerbuttonsContainer {
    display: flex;
    justify-content: center;
}

.timerbuttonsContainer button {
    margin: 20px;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    color: black;
}

.start {
    background-color: green;
}

.stop {
    background-color: red;
}

.input {
    padding: 10px;
}

.submitButton {
    margin: 20px;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    color: white;
    background-color: rgb(34, 88, 250);
    border-radius: 8px;
    font-weight: bold;
}